{% import 'partials/globals.njk' as globals %}
<footer>
    Copyright &copy; {{globals.copyright_year }} {{globals.copyright_name }} | All Rights Reserved           
</footer>

<div class="download__app">
    <div class="wrapper">
        <div class="text">Download Our App Today!</div>
        <div class="app-links">
            <a href="#" class="btn__app google" title="Google Play"></a>
            <a href="#" class="btn__app apple" title="App Store"></a>
            <a href="#" class="btn__app amazon" title="Amazon Store"></a>
        </div>
    </div>
</div>